{% extends "base.html" %}
{% block content %}
	<div class="content-inner">
    {% for o in object_list %}
    <li><a href="{{ o.external_url }}"><img src="{{ o.get_img_url }}" style="height:150px">{{ o }}</a>
        <form method="POST" action="{% url incr_reads o.id %}" style="display:inline"><input type="submit" value="up" class="btn btn-inverse"/>{% csrf_token %}</form> - {{ o.readers }} - <a href='{% url suggest_image o.id %}'>suggest image</a>
    </li>
    {% endfor %}
    </div>

{% endblock %}
