<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8">
{% block head-title %}<title>What Are You Read.in</title>{% endblock %}
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% block extend-head-base %}{% endblock %}
{% block extend-head %}{% endblock %}


</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=213779718684399";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="container">
    <div class="header">
        <h1>{ AWESOME_LOGO }</h1>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
        <div class="register-holder">
            <!--<span>See what your friends are reading, get better suggestions. </span>
            <a href="#" class="btn btn-primary" data-method="post" rel="nofollow">Sign in with Facebook</a>-->
        </div>  
    </div>
  </div>
</body>
</html>