<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8">
{% block head-title %}<title>What Are You Read.in</title>{% endblock %}
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% block extend-head-base %}{% endblock %}
{% block extend-head %}{% endblock %}


</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=213779718684399";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="container">
    <div class="header">
        <h1>{ AWESOME_LOGO }</h1>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
        <div class="register-holder">
            <span>See what your friends are reading, get reading suggestions, read reviews, write reviews. </span>
            <!--<a href="#" class="btn btn-primary" data-method="post" rel="nofollow">Sign in with Facebook</a>-->
        </div>  
    </div>
  </div>
{% block ga %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30765522-1']);
  _gaq.push(['_setDomainName', 'whatareyouread.in']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}
</body>
</html>